* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #39393A;
    image.png
    
}

main {
    background-color: #FFFFFF;
}

body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
    padding: 5% 5%;
    text-align: left;
    font-size: 16px;
    text-align: 10px left;

}

#img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20%;
    padding: 10px;
}

h2{
    color: #1B1B1B;
    font-size: 28px;
    font-variant: small-caps;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    color: #1B1B1B;
    font-size: 20px;
    font-variant: small-caps;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.ingr {
    font-size: 16px;
    line-height: 26px;
    list-style-position: inside;
}

.modo {
    font-size: 16px;
    line-height: 26px;
    list-style-position: inside;
}

.adic {
    font-size: 16px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

footer {
    color: #8F8F8F;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

figcaption {
    color: #8F8F8F;
    font-size: 12px;
    text-align: right;
    margin-right: 2vh;
}

.links {
    text-decoration: none;
}

ul, ol {
    margin-left: 60px;
    margin-right: 60px;
}